<footer class="footer-container typefooter-1" style="background-color: #f2f2f2">

  <div class="footer-top">
    <section id="newsletter-footer" class=" section-color"></section>
    <section id="" class="footer section-color">
      <div class="container page-builder-ltr">
        <div class="container page-builder-ltr">
          <div class="row row_5tlw row-style ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_6utb col-style">
              <div id="brands0" class="brands-box" style="opacity: 1;">
                <div class="item">
                  <a href="https://drake.vn/converse/"><img src="https://drake.vn/image/cache/catalog/logo/CONVERSE-114x88.jpg" alt="CONVERSE" class="img-responsive"/></a>
                </div>
                <div class="item">
                  <a href="https://drake.vn/vans/"><img src="https://drake.vn/image/cache/catalog/logo/VANS-114x88.jpg" alt="VANS" class="img-responsive"/></a>
                </div>
                <div class="item">
                  <a href="https://drake.vn/palladium/"><img src="https://drake.vn/image/cache/catalog/logo/PALLADIUM-114x88.jpg" alt="PALLADIUM" class="img-responsive"/></a>
                </div>
              </div>
              <style type="text/css">
                .brands-box {
margin-bottom: 35px;
text-align: center;
}

.brands-box .item {
display: inline-block;
padding-left: 10px;
padding-right: 10px;
}
              </style>
            </div>

          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col_q51c col-style"> <div class="module html-block"> <h3 class="modtitle">Hỗ trợ thanh toán</h3> <div class="modcontent "> <p><img alt=""
        src="https://drake.vn/image/catalog/icons/paymentfooter.jpg"/></p> <p><img alt="" src="https://drake.vn/image/catalog/icons/Logo-Lazada.png" style="height:32px; width:100px"/></p> <p><img alt=""
        src="https://drake.vn/image/catalog/icons/bct1.png"/>&nbsp; &nbsp; &nbsp;</p> </div> </div> </div> -->

      </div>
    </div>
  </section>

</div>


<!-- FOOTER CENTER -->
<div class="font-small special-color-dark pt-4"></div>

<!-- FOOTER BOTTOM -->
<div class="page-footer font-small special-color-dark pt-4">
  <div class="container">
    <div class="footer-bottom-content">
      <div class="row">
        <div class="col-sm-12 text-center">
          ©Mike.com.vn - All Rights Reserved.
        </div>

      </div>
    </div>
  </div>
</div>

</footer>
